# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [1]:
# simple addition
1 + 1

2

In [2]:
# simple multiplication
1 * 3

3

In [5]:
# simple division with float
1 / 2.

0.5

In [6]:
# exponents
2 ** 4

16

In [7]:
# modulo
4 % 2

0

In [8]:
# modulo
5 % 2

1

In [9]:
# order of operations
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [10]:
# Cannot start with number or special characters
name_of_var = 2

In [11]:
x = 2
y = 3

In [12]:
z = x + y
print z

5

### Strings

In [13]:
'single quotes'

'single quotes'

In [14]:
"double quotes"

'double quotes'

In [15]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [16]:
x = 'hello'

In [17]:
x

'hello'

In [18]:
print(x)

hello

In [19]:
num = 12
name = 'Sam'

In [20]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [21]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [35]:
# simple list
[1,2,3]

[1, 2, 3]

In [36]:
# mixed data types - string, int, list
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [37]:
# list of strings
my_list = ['a','b','c']

In [38]:
# add 'd' to the end
my_list.append('d')

In [39]:
# 'd' was added
my_list

['a', 'b', 'c', 'd']

In [40]:
# print the first item. Index begins at 0.
my_list[0]

'a'

In [41]:
# print the second item. Remember: index - 0,1,2,3...
my_list[1]

'b'

In [42]:
# print all items on list from second item to the last item
my_list[1:]

['b', 'c', 'd']

In [43]:
# print all items from the first up to, but not including, the second item
my_list[:1]

['a']

In [44]:
# change the value of the first item to the string 'NEW'
my_list[0] = 'NEW'

In [45]:
# print the updated list
my_list

['NEW', 'b', 'c', 'd']

In [46]:
# nested list. Main list has an item that is a list. That list also has an item that is a list.
# Listception!
nest = [1,2,3,[4,5,['target']]]

In [47]:
# print the fourth item, which will be the entire nested list
nest[3]

[4, 5, ['target']]

In [48]:
# print the third item of the nested list
nest[3][2]

['target']

In [49]:
# print the first item of the third item in the nested list
nest[3][2][0]

'target'

### Dictionaries

In [50]:
# simple dict. Creates ordered pairs
d = {'key1':'item1','key2':'item2'}

In [51]:
# print our dict
d

{'key1': 'item1', 'key2': 'item2'}

In [52]:
# print the value of 'key1'
d['key1']

'item1'

In [55]:
d['key2']

'item2'

In [56]:
d['key2'] = [1,2,3]

In [58]:
d

{'key1': 'item1', 'key2': [1, 2, 3]}

In [59]:
d['key2'][0]

1

### Booleans

In [53]:
# on/off, true/false, yes/no, up/down
True

True

In [54]:
False

False

### Tuples

In [60]:
# tuple is similar to list, but is immutable.
# Immutable means you cannot reassign a value to one of the numbers
t = (1,2,3)

In [61]:
t[0]

1

In [62]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [63]:
# You would want to use a tuple when you want to prevent the user from changing objects

### Sets

In [64]:
# set is a collection of unique elements
{1,2,3}

{1, 2, 3}

In [65]:
# we can have multiple 1s, 2s, and 3s, but our set only recognizes the unique values
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [68]:
# use the set-function to retrieve unique values from a list
# note that it also puts them in order
set([1,1,2,2,2,4,3,2,4,3,3])

{1, 2, 3, 4}

In [69]:
# you can also add items to a set
s = {1,2,3}

In [70]:
s.add(5)
s

{1, 2, 3, 5}

In [72]:
# also works with strings
{'a','b','c'}

{'a', 'b', 'c'}

In [74]:
# and will put strings in alphabetical order
set(['a','b','b','d','c','a'])

{'a', 'b', 'c', 'd'}

## Comparison Operators

In [75]:
# comparison operators let you compare elements
1 > 2

False

In [76]:
# is 1 less than 2?
1 < 2

True

In [77]:
# is 1 greater or equal to 1?
1 >= 1

True

In [78]:
# is 1 less than or equal to 4?
1 <= 4

True

In [79]:
# does 1 equal 1?
1 == 1

True

In [80]:
# can also compare strings
'hi' == 'bye'

False

In [81]:
# 1 does not equal 3?
1 != 3

True

In [82]:
# can also compare multiple scenarios using 'and' & 'or'
(1 < 2) and (2 > 3)

False

In [83]:
(1 < 2) or (2 > 3)

True

## Logic Operators

In [84]:
(1 > 2) and (2 < 3)

False

In [85]:
(1 > 2) or (2 < 3)

True

In [86]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [87]:
# Creating an 'if-statement'
# It will only print 'Yep!' if the condition is True
if 1 < 2:
    print('Yep!')

Yep!

In [88]:
if 1 < 2:
    print('yep!')

yep!

In [89]:
# If the first condition is true print 'first'
# But if the first condition is false print 'last'
if 1 < 2:
    print('first')
else:
    print('last')

first

In [90]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [91]:
# adding an 'elif' statement
# if the first condition is true, print first
# if the first condition is false, check the next condition ('elif')
# if the 'elif' condition is true, print 'middle'
# if the 'elif' condition is false, print 'Last'

if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [92]:
# first, let's create a list
seq = [1,2,3,4,5]

In [93]:
# for each item in our list 'seq' print the item
# the for-loop iterates over the list and executes the code on each item
for item in seq:
    print(item)

1
2
3
4
5

In [94]:
# there are 5 items in our list, so the print statement will be executed 5 times
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [95]:
# we don't have to call our iterator 'list'. We can give it any weird name we want.
# For each 'jelly' (or item) in the list, print the sum of the item plus itself
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [96]:
# perform some block of code, while this condition is true
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [97]:
# note that is doesn't print "i is: 5"
# this is because 5 is not less than 5

## range()

In [98]:
# The range function creates a list of numbers from 0 to the number in the brackets
range(5)

[0, 1, 2, 3, 4]

In [99]:
# Use a for loop to iterate through all the numbers up to 5
for i in range(5):
    print(i)

0
1
2
3
4

In [100]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [102]:
# create a list
x = [1,2,3,4]

In [103]:
# create a blank list called 'out'
out = []
# for each item in our list 'x' (1,2,3,4), square the number in the list and add it to 'out'
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [104]:
# Same way to write the code above
# [This is the outcome we want] for [each item] in [this list or range of numbers]
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [105]:
# functions are useful for creating reusable code, so you don't have to write it over and over again
def my_func(param1='default'):
    print(param1)

In [106]:
my_func

In [107]:
my_func()

default

In [108]:
my_func('new param')

new param

In [109]:
my_func(param1='new param')

new param

In [113]:
def square(x):
    """
    This is a docstring
    Docstring can be accessed by clicking shift+tab
    This function squares a number
    """
    return x**2

In [114]:
out = square(2)

In [115]:
print(out)

4

In [117]:
# Move your cursor to the end of 'square' and press shift+tab
square

## lambda expressions

In [118]:
# Here we create a function called 'times2' which multiplies the input by 2
def times2(var):
    return var*2

In [119]:
# we call our function and tell it to execute the code on the number "2"
times2(2)

4

In [120]:
# 'lambda' is a similar way to create a function
# we remove the 'def' and 'return' and simply give it the input and output
lambda var: var*2

In [122]:
# we can also name our lambda and execute just like 'times2' above
t = lambda var: var*2
t(2)

4

## map and filter

In [123]:
# create a list called 'seq'
seq = [1,2,3,4,5]

In [125]:
# Just like how lambda() can be used to replace def(),
# map() can be used similarly to a for-loop
# It works by writing map([function you want to execute],[list you want to loop over])
# map(item*2, for item in [1,2,3,4,5])
map(times2,seq)

[2, 4, 6, 8, 10]

In [129]:
# output our map as a list
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [130]:
# can also insert a lambda in place of our function
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [131]:
# filter only returns items that satisfy our lambda requirement
# If a number is evenly divisible by 2, return the number
filter(lambda item: item%2 == 0,seq)

[2, 4]

In [132]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [134]:
# lambda can also be defined by a variable on a separate line
map(t,seq)

[2, 4, 6, 8, 10]

## methods

In [135]:
# Create a variable 'st' and match it to a string
st = 'hello my name is Sam'

In [136]:
# make all the letters lower-case
st.lower()

'hello my name is sam'

In [137]:
# make all the letters upper-case
st.upper()

'HELLO MY NAME IS SAM'

In [138]:
# Create a list of the string where each item is separated by a space
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [139]:
# use a tweet for example
tweet = 'Go Sports! #Sports'

In [140]:
# we can also tell the string where to split
tweet.split('#')

['Go Sports! ', 'Sports']

In [141]:
# grab the hashtag
tweet.split('#')[1]

'Sports'

In [146]:
# call our dictionary from earlier
d['key1'] = 1
d['key2'] = 2
d

{'key1': 1, 'key2': 2}

In [147]:
# return the keys of the dictionary
d.keys()

['key2', 'key1']

In [148]:
# return the items in the dictionary
d.items()

[('key2', 2), ('key1', 1)]

In [149]:
# just return the values without the keys
d.values()

[2, 1]

In [150]:
# create a list called 'lst'
lst = [1,2,3,4]

In [151]:
# pop() pops off the last item in the list
lst.pop()

4

In [153]:
# byebye 4!
lst

[1, 2, 3]

In [154]:
# can also tell where to pop
lst.pop(0)
lst

[2, 3]

In [155]:
# use 'in' to check if an item is in a list
'x' in [1,2,3]

False

In [156]:
1 in [1,2,3]

True

In [157]:
'x' in ['x','y','z']

True

# Tuple Unpacking

In [158]:
# create a list of tuples
x = [(1,2),(3,4),(5,6)]

In [159]:
x

[(1, 2), (3, 4), (5, 6)]

In [160]:
x[0]

(1, 2)

In [161]:
x[0][0]

1

In [162]:
for item in x:
    print item

(1, 2)
(3, 4)
(5, 6)

In [163]:
for (item) in x:
    print item

(1, 2)
(3, 4)
(5, 6)

In [164]:
for (a,b) in x:
    print a

1
3
5

In [165]:
for a,b in x:
    print a
    print b

1
2
3
4
5
6

# Great Job!